

.banner_page {
    position: relative;
    background-size: cover;
    /* justify-content: center;
    text-align: center;
    align-items: center; */
    
}
.banner_page_text {
    color: white;
    margin: 30% 0% 0 20%;

    justify-content: center;
    align-items: center;
}