

.side_navber{
    background-color: black;
    height: 100vh;
    width: 30vw;
    color: aliceblue;
    text-align: center;
    justify-items: space-between;
}

.social_icons {
    display: flex;
    color: red;
    padding: 0px;
    margin: auto 0px;
}
.social_icons h4 {
    padding-inline: none;
}

.pic_and_name{
    padding: 0px;
    margin-top: 30px;
}

.section_name {
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.avaterPic {
    width: 15vw;
    height: 15.5vw;
    border: 5px solid rgb(88, 63, 63);
    border-radius: 50%;
    margin: 15px;

}